<div class="filter-section">
    <form class="form-group">
      <div class="input-group">
         <label >Search by Event Name </label>
        <input type="text" [(ngModel)]="searchByName" name="searchByName">
      </div>
      <div class="input-group">
 <label>
    chose date
</label>
<input type="datetime-local" [(ngModel)]="searchByDate" name="searchByDate">
      </div>
      <div class="input-goup">
<label>Location</label>
<select [(ngModel)]="searchByLocation" name="searchByLocation">
    <option vlaue=" ">All</option>
 @for (events of events$ |async; track $index) {
        <option [value]="events.location">{{events.location}}</option>
 }
</select>
      </div>

<div class="input-group">
    <label>
        booked seates
    </label>
    <input type="range" [(ngModel)]="bookedSeates" name="bookedSeates" min="1" max="1000" value="0">
</div>
<div class="input-group">
    <button type="button" (click)="reset()">reset</button>
</div>
 </form>

</div>

<div class="cards-containers">
  
    @if(!isLoading()){
     @for (event of displayEventsCards() ; track $index) {
        <div class="event-card">
            <h2>{{ event.title }}</h2>
            <p class="desc">{{ event.description }}</p>
            <p><span><mat-icon>event_seat</mat-icon>Capacity : </span> {{ event.capacity }}</p>
            <p><span><mat-icon>place</mat-icon>Location : </span> {{ event.location }}</p>
            <p><span><mat-icon>event_seat</mat-icon> Booked Seates : </span>{{event.bookedSeats}}</p>
            <p><span><mat-icon>query_builder</mat-icon> Date: </span>{{ event.date | date:'medium' }}</p>
            @if(event.capacity===0){
             <button (click)="bookEvent(event.id)" [disabled]="event.capacity===0">Sold Out</button>
            }@else {
           <form  class="btn-form" [formGroup]="bookForm">
              <input type="number" formControlName="quntity" min="1" [max]="event.capacity" placeholder="Seate Quntity">
              @if(bookForm.get('quntity')?.invalid){
                <button (click)="bookEvent(event.id)" [disabled]="bookForm.get('quntity')?.invalid">Book Now</button>

              }@else {
                <button (click)="bookEvent(event.id)">Book Now</button>

              }
           </form>

            }
        </div>
    }
    }
    @else {
    <div style="text-align: center;">
       <app-loading-spinner></app-loading-spinner>
    </div>
}

</div>
<div class="loadmore-btn">
@if(hasMoreCards()){
    <button  (click)="loadMore()">Load More ...</button>
}</div>