<header>
    <div class="logo">
        <a routerLink="/events">Event Booking System</a>
    </div>

    <div class="nav-link">
        <nav>
            <ul>
                <li><a [routerLink]="['/events']" routerLinkActive="active">Events</a></li>
                <li><a [routerLink]="['/bookings']" routerLinkActive="active">Booking</a></li>
            </ul>
        </nav>
    </div>

    <div class="header-btn">
        @if (isLoggedIn()) {
            <div class="user-info">             
                <mat-icon [routerLink]="['/user']">account_circle</mat-icon>
                <button class="btn" (click)="logout()">Logout</button>
            </div>
        } @else {
            <button class="btn" [routerLink]="['/login']">Login</button>
        }
    </div>
</header>
