
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--header-bg);
  transition: background-color 0.3s ease, color 0.3s ease;
  position:relative;
  z-index: 1000;
  align-items: center;
width: auto;
}

.logo a {
  font-size: 1.4rem;
  color: var(--text);
  font-weight: 900;
  text-decoration: none;
  text-shadow: 4px 4px 20px var(--glow);
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 2rem;

}

.nav-link nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
    align-items: center;

}

.nav-link nav ul li a {
  text-decoration: none;
  color: var(--text);
  font-weight: 900;
  font-size: 1.4rem;
  transition: color 0.3s ease;
}

.nav-link nav ul li a:hover {
  color: var(--text-hover);
}

.header-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.login-btn {
  width: 7rem;
  height: 2.4rem;
  border-style: none;
  background-color: var(--btn-bg);
  color: var(--btn-text);
  font-weight: 500;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.login-btn a {
  text-decoration: none;
  color: var(--btn-text);
  font-weight: 900;
}

.mat-icon {
  color: var(--icon);
  width: 2rem;
  border-radius: 100px;
  transition: color 0.3s ease;
}

button {
  border: none;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  transition: opacity 0.2s, background-color 0.3s;
  border-radius: 100px;
  background-color: rgba(95, 95, 144, 0.17);
}

button:hover {
  opacity: 0.9;
}
