header { 
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding: 1rem 3rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: rgba(255, 218, 179, 0.73); 
    box-sizing: border-box;
    width: 100%;
} 

.logo a { 
    font-size: 1.4rem; 
    color: #574964; 
    font-weight: 900; 
    text-decoration: none; 
    white-space: nowrap; 
} 

.nav-link ul { 
    display: flex; 
    list-style: none; 
    gap: 2rem; 
    margin: 0; 
    padding: 0; 
} 

.nav-link ul li a { 
    text-decoration: none; 
    color: #574964; 
    font-weight: 900; 
    font-size: 1.4rem; 
} 

.user-info { 
    display: flex;
    align-items: center;
    gap: 1rem; 
}

.mat-icon { 
    color: #574964; 
    font-size: 32px; 
    width: 32px;
    height: 32px;
    cursor: pointer;
} 

.btn { 
    width: 7rem; 
    height: 2.4rem; 
    border: none; 
    background-color: #C8AAAA; 
    color: #574964; 
    font-weight: 900; 
    border-radius: 10px; 
    cursor: pointer;
}
